* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

p {
  font-size:larger;
}

h1 {
  font-size: xxx-large;
}

h2 {
  font-size: xx-large;
}

h1,
h2,
h3,
h4 {
  font-family: "Just Me Again Down Here";
}

.quiz_frame {
  background-image: linear-gradient(white, #fce367);
}

.info_frame {
  background-image: linear-gradient(135deg, #cbf3f5, #86c0ec);
  padding: 0px;
  margin: 0px;
}

.sideBarMenuContainer {
  position: fixed;
  height: 100%;
}

.bgContentPortal {
  background-image: url(./components/images/Bakgrund_cleanArtboard_1.jpg);
  position: relative;
  height: 100vh;
  background-size: cover;
}
/*
.Bg_image_Om_Oss{
  background-image: url(./components/Pictures/havsnivåArtboard\ 1\ copy-50.jpg);
  position: relative;
  height: 100vh;
  background-size: cover;
}*/



.infoCardFossil {
  position: absolute;
  width: 313px;
  height: 60px;
  left: 146px;
  top: 215px;

  font-family: "Just Me Again Down Here";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  /* identical to box height */
  text-align: center;
  color: black;
  text-decoration: none;

  position: absolute;
  width: 314px;
  height: 287px;
  left: 146px;
  top: 197px;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0.7;
  border-radius: 25px;
}

.infoCardTemperatur {
  /* Temperaturförändring */

  position: absolute;
  width: 314px;
  height: 34px;
  left: 475px;
  top: 215px;

  font-family: "Just Me Again Down Here";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  text-align: center;

  color: black;
  text-decoration: none;

  position: absolute;
  width: 314px;
  height: 287px;
  left: 476px;
  top: 197px;

  background: rgba(255, 255, 255, 0.7);
  opacity: 0.7;
  border-radius: 25px;
}

.infoCardHavs {
  /* Havsnivå */

  position: absolute;
  width: 313px;
  height: 49px;
  left: 147px;
  top: 525px;

  font-family: "Just Me Again Down Here";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  text-align: center;

  color: black;
  text-decoration: none;

  position: absolute;
  width: 314px;
  height: 286px;
  left: 145px;
  top: 503px;

  background: rgba(255, 255, 255, 0.7);
  opacity: 0.7;
  border-radius: 25px;
}

.infoCardGlaciar {
  /* Glaciärer */

  position: absolute;
  width: 314px;
  height: 34px;
  left: 476px;
  top: 525px;

  font-family: "Just Me Again Down Here";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: black;
  text-decoration: none;

  position: absolute;
  width: 314px;
  height: 286px;
  left: 476px;
  top: 503px;

  background: rgba(255, 255, 255, 0.7);
  opacity: 0.7;
  border-radius: 25px;
}

.pageContainer {
  padding-left: 80px;
  padding-right: 80px;
}