* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

p {
  font-size: larger;
}

h1 {
  font-size: xxx-large;
}

h2 {
  font-size: xx-large;
}

h1,
h2,
h3,
h4 {
  font-family: "Just Me Again Down Here";
}

.button {
  font-family: "Just Me Again Down Here";
  font-size: xx-large;
  margin: 20px;
  width: 191px;
  height: 54px;
  left: 30px;
  color: white;

  background: #24b38d !important;
  border-radius: 25px;
}

.quiz_frame {
  background-image: linear-gradient(white, #fce367);
}

/*Det är detta som tar bort den vita marginalen på sidorna!*/
.info_frame {
  padding: 0px;
  margin: 0px;
}

.sideBarMenuContainer {
  position: fixed;
  height: 100%;
}

/*två likadana? Göra en gemensam kan vara en idé*/
.bgContentPortal {
  background-image: url(./images/Bakgrund_cleanArtboard_1.jpg);
  position: relative;
  height: 100vh;
  background-size: cover;
}

.Bg_image_Om_Oss {
  background-image: url(./images/Bakgrund_cleanArtboard_1.jpg);
  position: relative;
  height: 100vh;
  background-size: cover;
  padding: 60px;
}

.Om_Oss_content {
  width: 80%;
  padding: 20px;
}

.Om_Oss-container {
  /* background-color: white;*/
  /*font-family: Arial, sans-serif;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.pageContainer {
  padding-left: 80px;
  padding-right: 80px;
}

.contentPaddingTop {
  padding-top: 200px;
}